@tailwind base;
@tailwind components;
@tailwind utilities;

let vh = window.innerHeight * .01

/* TODO: Implement darkmode here
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

:root {
	background-color: #e2e8f0;
}

html {
	height: -webkit-fill-available;
}

body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
	min-height: calc(var(--vh, 1vh) * 100);
	background-color: #e2e8f0;
	overflow-y: scroll;
	position: relative;
}

.no-scroll {
	overflow: hidden;
	height: 100%;
	width: 100%;
}

/* Styles for Tablet & Larger  */
/* TODO: Add fallbacks for browsers that don't support these */
@media (min-width: 768px) {
	header {
		height: calc(var(--vh, 1vh) * 4);
	}

	/* footer {
		height: calc(var(--vh, 1vh) * 5);
	} */
}
