@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: Implement darkmode here
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

:root {
	background-color: #e2e8f0;
}

body {
	height: -moz-available;
	height: -webkit-fill-available;
	height: stretch;
	/* TODO: Figure out what to do on mobile */
	min-height: 100vh;
	background-color: #e2e8f0;
	overflow-y: scroll;
	position: relative;
}
